.block_1 {
  padding: 14px 0px 14px 24px;
}

#home {

  header{
    @extend .block_1;
    background-color: darkblue;
    h1 a {
      font-size: 2em;
      color: whitesmoke;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    }
  }

  .products {
    @extend .block_1;
    display: flex;
    flex-flow: row wrap;
    width: 786px;
    .product {
      padding: 14px 24px 24px 14px;
      width: 200px;
      margin-right: 24px;
      margin-bottom: 24px;
      box-shadow: 0 1px 1px #777f82;
      background-color: white;
      border-radius: 2px;

      .product_name {
        font-size: 1.25em;
        padding: 0px 0px 14px 0px;
        a {
          color: darkblue;
          text-decoration: none;
          border-bottom: 1px solid #b2bad7;
          line-height: 1.3em;

          &:hover {
            color: darkred;
          }
        }
      }

      .product_price {
        font-weight: bold;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 14px;
      }

      &:hover {
        box-shadow: 0 10px 15px rgba(#b5bdc0,0.8);
      }
    }
  }

  .new_product {
    form {
      margin-top: 14px;
      padding-right: 24px;
      padding-top: 14px;
      padding-bottom: 24px;
      background-color: darkolivegreen;
      background: -webkit-linear-gradient(top, #ffffff 0%,#FFFAE2 100%);
      box-shadow: 0 1px 1px #777f82;
      border-radius: 7px;

      p {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
      }

      label {
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        width: 100px;
        margin-right: 14px;
        text-align: right;
      }

      input {
        width: 297px;
        padding: 4px 3px 4px 3px;
      }

      input[type='submit'] {
        width: 100px;
        height: 40px;
        margin-left: 114px;
        background: linear-gradient(to top, #0a1f5f 0%,#3d8ed4 100%);
        border: none;
        border-radius: 100px;
        color: #fff;

        &:hover {
          box-shadow: 0 0 10px #7cabd8;
        }

        &:active {
          background: linear-gradient(to bottom, #0a1f5f 0%,#3d8ed4 100%);
        }
      }

      textarea {
        width: 300px;
        height: 200px;
      }
    }
  }
}
