.block_1 {
  padding: 14px 0px 14px 24px;
}

#product {

  header{
    @extend .block_1;
    background-color: darkblue;
    h1 a {
      font-size: 2em;
      color: whitesmoke;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    }
  }

  .product {
    margin-left: 24px;
    margin-top: 24px;
    padding: 14px 24px 24px 14px;
    width: 200px;
    margin-right: 24px;
    margin-bottom: 24px;
    box-shadow: 0 1px 1px #777f82;
    background-color: white;
    border-radius: 2px;

    .product_name {
      font-size: 1.25em;
      padding: 0px 0px 14px 0px;
      a {
        color: darkblue;
        text-decoration: none;
        border-bottom: 1px solid #b2bad7;
        line-height: 1.3em;

        &:hover {
          color: darkred;
        }
      }
    }

    .product_price {
      font-weight: bold;
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 14px;
    }

    &:hover {
      box-shadow: 0 10px 15px rgba(#b5bdc0,0.8);
    }
  }


}